@charset "UTF-8";

// Init ------------------------------------
@import 'handicap-mixins';
@import 'handicap-variables';
@import 'bootstrap';

// LAYOUT ----------------------------------
@import 'layout/buttons.scss';
@import 'layout/code.scss';
@import 'layout/form.scss';
@import 'layout/icons.scss';
@import 'layout/images.scss';
@import 'layout/tables.scss';
@import 'layout/typography.scss';

// COMPONENTS -------------------------------
@import 'components/alerts.scss';
@import 'components/badges.scss';
@import 'components/breadcrumb.scss';
@import 'components/button-groups.scss';
@import 'components/input-groups.scss';
@import 'components/jumbotron.scss';
@import 'components/labels.scss';
@import 'components/list-group.scss';
@import 'components/media.scss';
@import 'components/nav.scss';
@import 'components/navbar.scss';
@import 'components/pager.scss';
@import 'components/paginations.scss';
@import 'components/panels.scss';
@import 'components/progress-bar.scss';
@import 'components/thumbnails.scss';
@import 'components/well.scss';

// JAVASCRIPT WIDGET -------------------------
@import 'javascript/alert.scss';
@import 'javascript/buttons.scss';
@import 'javascript/carousel.scss';
@import 'javascript/collapse.scss';
@import 'javascript/dropdown.scss';
@import 'javascript/modal.scss';
@import 'javascript/popover.scss';
@import 'javascript/scrollspy.scss';
@import 'javascript/tab.scss';
@import 'javascript/tooltips.scss';

ul .dropdown-menu
{
	color: #fff;

}

*, *:after, *:before {
    box-sizing: border-box;
}
.col-md-8 {
    width: 40.667%;
   
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
<<<<<<< HEAD
    padding-right: 20px;

    
}

li{
    font-size: 14px;
=======

}

    .liste li {
    border-bottom: 1px solid #fff;
    line-height: 200%;
   
    list-style-position: inside;
    color:#fff;

    padding-left: 50px;
    padding-right: 50px;


} 


div.row2 {

	height: 140px;
    margin-top: 30px;
    background-color:#1D1D1B

>>>>>>> 84dac577bbab216fe6b313adf8f83fa7a49205c4
}





body {
    background-color: #eee;
   
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;

}

.nav-pills > li > a {
    border-radius: 15px;
}

div.container{

    
    background-color: #fff;
    padding-bottom: 1000px;
    padding-left: 50px;
    padding-right: 30px;
}



.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

div.btn-group{
    float: right;
}

.container {
    width: 1024px;
    float: center;


}

div.logo {
    margin-bottom: 5%;
    margin-right: 500px;


}
*, *:after, *:before {
    box-sizing: none;
}
div.row-menu{
    float: right;
    margin-top: 2px;

}

h2.acceuil {
    font-size: 10px;
    font-weight: 10;
}

.nav > li > a {
    display: -moz-box;
    padding: 3px 47px;
    position: relative;
}




