{% extends "layout.twig" %}

{% block pagetitle %}Homepage{% endblock %}




{% block page %}
 
{% endblock %}
 <a href="acceuil.html">ACCEUIL</a>

<link rel="stylesheet" href="../css/handicap.css">

