{% extends "layout.twig" %}

{% block pagetitle %}Homepage{% endblock %}

{% block page %}
  <h1>Welcome on homepage !</h1>
  <h2>Welcome</h2>




     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>



<iframe src="//player.vimeo.com/video/85517984" width="1024" height="750" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/85517984">The Planets</a> from <a href="http://vimeo.com/andymartin">Andy Martin</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li class="disabled"><a href="#">Messages</a></li>
</ul>



{% endblock %}