{% extends "layout.twig" %}

{% block pagetitle %}Homepage{% endblock %}

{% block page %}
 




<<<<<<< HEAD
=======
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>



<iframe src="//player.vimeo.com/video/85517984" width="1024" height="750" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/85517984">The Planets</a> from <a href="http://vimeo.com/andymartin">Andy Martin</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
>>>>>>> f5397c111a482cd7622866e160297bc764834e2e




<a href="nosprojets.html">NOS PROJETS</a>

<link rel="stylesheet" href="../css/handicap.css">



{% endblock %}